<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <title>Noted.</title>
    </head>

    <body>
        <header class="p-3">
            <h1 class="ms-a"><a href="/" style="color: #47457B">noted.</a></h1>
        </header>
        <br/>
        <form action="/new" method="get">
            <button class="btn btn-primary ms-3">Create</button>
        </form>
        <% list.forEach(item => { %>
            <!--Bootstrap card start-->
            <div class="card mx-3 my-3" style="width: 90%;">
                <div class="card-body">
                    <h5 class="card-title"><%= item.title %></h5>
                    <!--Note subtitle could be usefull at some point-->
                    <!--<h6 class="card-subtitle mb-2 text-body-secondary">Note subtitle</h6>-->
                    <p class="card-text"><%= item.content %></p>
                    <a href="/edit/<%= item.id %>">Edit</a>
                    <a class="ps-1" href="/delete/<%= item.id %>">Delete</a>
                </div>
            </div>
            <!--Bootstrap card end-->
        <% }) %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>