<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <title>Noted.</title>
    </head>

    <body>
        <header class="p-3">
            <h1 class="ms-a"><a href="/" style="color: #47457B">noted.</a></h1>
        </header>
        
        <% if(locals.note) { %><!--Loads edit page when a note is selected to edit-->
            <!--bootstrap form start-->
            <form class="m-3" style="width: 90%;" action="/save/<%= note.id %>" method="post">
                <div class="form-group mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= note.title %>">
                </div>
                <div class="form-group">
                    <label for="content" class="form-label">Note</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Note..." rows="3" required><%= note.content %></textarea>
                </div>
                <!--Not set up to recieve stored priority when editing a note-->
                <select id="priority" name="priority" class="form-select mt-3" aria-label="Default select example" style="width: 10%">
                    <% if(note.priority !== null) { %>
                        <% console.log(note.priority) %>
                        <% if(note.priority == "High") { %>
                            <option >Priority</option>
                            <option value="High" selected>High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        <% } else if(note.priority == "Medium") {%>
                            <option >Priority</option>
                            <option value="High" >High</option>
                            <option value="Medium" selected>Medium</option>
                            <option value="Low">Low</option>
                        <%} else if(note.priority == "Low") { %>
                            <option >Priority</option>
                            <option value="High" >High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low" selected>Low</option>
                        <% } %>
                    <% } else { %>
                        <option selected>Priority</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    <% } %>
                </select>
                <button type="submit" class="btn btn-primary mt-3">Save</button>
            </form>
            <!--bootstrap form end-->
        <% } else { %><!--Loads the create page when no note is selected-->
            <!--bootstrap form start-->
            <form class="m-3" style="width: 90%;" action="/add" method="post">
                <div class="form-group mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                </div>
                <div class="form-group">
                    <label for="content" class="form-label">Note</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Note..." rows="3" required></textarea>
                </div>
                <select id="priority" name="priority" class="form-select mt-3" aria-label="Default select example" style="width: 10%">
                    <option selected>Priority</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <button type="submit" class="btn btn-primary mt-3">Create</button>
            </form>
            <!--bootstrap form end-->
        <% } %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>